### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### IDEA ###
.idea
*.iml

### ActionScript ###
# Build and Release Folders
bin/
bin-debug/
bin-release/
bin-release-tmp/
bin-release-temp/

### FlashBuilder Project setting ###
#.actionScriptProperties
#.project
#.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Application
*.apk
*.ipa
*.app
*.exe